MONGOURL=mongodb+srv://gaminatic:gaminatic@gaminatic.mus8o.mongodb.net/gaminatic?retryWrites=true&w=majority
SENDGRID_API_KEY=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
CLIENT_URL=https://localhost:3000
JWT_SECRET=thehexaa
+19097841248