<div class="row mt-5" style="
    justify-content: center;
">

    <div class="col-md-6">
        {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {{/if}}

        {{#if message}}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {{/if}}
        <form class="margin" action="/admin_forgot_password" method="post">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-center links">
                        <h2>Forgot Password</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center links">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="email" class="form-control" placeholder="email" required="">
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center links">
                        <button class="btn btn-primary">Send Link</button>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        <a id="anchor" href="/login"> Already have an account?</a>
                    </div>
                </div>

            </div></form>
        <div class="col-md-4"></div>
    </div>

</div>