



<table id="user-table" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td>

            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.email}}
            </td>
            <td>
                {{this.role}}
            </td>
            <td>
                <a type="button" href="/user/{{this._id}}">View</a>
            </td>
        </tr>
    {{/each}}

    </tbody>
    <tfoot>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Details</th>
    </tr>
    </tfoot>
</table>


<script>
    // Check browser support

</script>