
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" style="background: black" >
        <div class="sidebar-heading">Gaminatic </div>
        <div class="list-group list-group-flush">
            <a href="/users" class="list-group-item list-group-item-action bg-light">Users</a>
            <a href="/disputes" class="list-group-item list-group-item-action bg-light">Disputes</a>
            <a href="/login" class="list-group-item list-group-item-action bg-light">Login</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>

    <!-- /#sidebar-wrapper -->



</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->

<!-- Menu Toggle Script -->
